.wrapper{
  max-width: 600px;
  padding: 20px;
  margin: 100px auto;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 7px 7px 18px -3px rgba(66, 68, 90, 0.35);
  border: 1px solid #e5e9f1;
  overflow: hidden;
  color: #132237;
}
@media screen and (min-width: 768px) {
  .wrapper{padding: 40px;}
}
