.wrapper {
  padding: 30px 0;
  list-style: none;
}
.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 2.5;
}
.text span {
  margin-right: 15px;
  min-width: 180px;
}
.text span::before {
  content: '•';
  margin-right: 5px;
  color: mediumaquamarine;
}
.text:not(:last-of-type) {
  margin-bottom: 10px;
}
.button {

  background-color: transparent;
  border: none;
}
.button:hover,
.button:focus {
 color: mediumaquamarine;
}
@media screen and (min-width: 768px) {
  .text {
    font-size: 22px;
  }
}
